{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="container">
			<div class="wrap-container clearfix">
				<div id="main-content">
					<div class="wrap-content zerogrid ">
						<article class="post">
  							<h1>Log In</h1>
						</article>
						<article class="background-white">
							<div class="art-header">
								<hr class="line-2">
                            <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                     <button type="submit">Log in</button><br>
							</form>
								<h3>If you don't have a profile. You can Registration!</h3>
                                    <a href="{% url 'register' %}"><button>Registration</button></a>



							</div>
						</article>
                    </div>
				</div>
			</div>
	   </section>

{% endblock %}