{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="single.html">REGISTRATION</a></h2>
									</div>
								</header>
								<form method="post"  enctype="multipart/form-data">
  								{% csrf_token %}
  								{{ form.as_p }}
									<button type="submit">OK</button>
								</form>
								<footer>
									<ul class="actions">
										<li><a href="{% url 'login' %}" class="button large">Log In</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
{% endblock  %}