

<!-- Post -->
							<article class="post">
								<header>
									<div class="title"  style="width: ">
										<h2><a href="single.html">{{ post.tittle }}</a></h2>
										{% if request.user.is_authenticated %}
										<p>{{ post.status }}</p>
										{% endif %}
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ post.created }}</time>
										{% if post.user.image %}
										<a href="{% url 'account-detail' post.id %}" class="author"><span class="name">{{ post.user }}</span><img src="{{ post.user.image.url }}" alt="" /></a>
										{% else %}
										<a href="{% url 'account-detail' post.id %}" class="author"><span class="name">{{ post.user }}</span><img src="{% static 'images/default-user-image.png' %}" alt="" /></a>
										{% endif %}
									</div>
								</header>
								{% if not post.image %}
								<a href="single.html" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
								<p>{{ post.description }}</p>
								<footer>
									{% if request.user.is_authenticated %}
									<ul class="actions">
										<li><a href="{% static 'add-post' post.id %}" class="button large">Update</a></li>
										<li><a href="{% static 'delete' post.id %}" class="button large">Update</a></li>
									</ul>
									{% endif %}
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>