
<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------content-box-1-------------------->
				<section class="content-box background-gray box-1 zerogrid">
					<div class="row wrap-box"><!--Start Box-->
						<div class="col-1-2">
							<div class="wrap-col">
								<div style="padding-top: 60px;">
									<center><img src="{{ product.get_image }}"></center>
								</div>
							</div>
						</div>
						<div class="col-1-2">
							<div class="wrap-col">
								<div class="row">
									<div class="t-center" style="padding-top: 30px;">
										<div class="header">
											<h2>{{ product.tittle }}</h2>
										</div>
										<strong>{{ product.description }}</strong><br/><br>
										<span>Release date: {{ product.release_date }}</span><br/><br>
										<a href="{% url 'product-detail' product.id %}" class="button" >More Details</a>
										<a href="#" class="button" >Add to Cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
