{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Post -->
							<article class="post">
								<header>
									<div class="title"  style="width: ">
										<h2><a href="single.html">{{ user.username }}</a></h2>
										<p>{{ user }}</p>
									</div>
								</header>
								{% if user.image %}
								<a href="single.html" class="image featured"><img src="{{ user.image.url }}" alt="" /></a>
								{% else %}
								<a href="single.html" class="image featured"><img src="{% static 'images/default-user-image.png' %}" alt="" /></a>
								{% endif %}
								<p>{{ user.about_me }}</p>
								<footer>

								</footer>
							</article>

{% endblock %}