{% extends 'base.html' %}
{% load static %}
{% block content %}




	   <section id="container">
			<div class="wrap-container clearfix">
				<div id="main-content">
					<div class="wrap-content zerogrid ">
						<article class="post">
  							<h1>{{ category.name }}</h1>
						</article>
						<article class="background-white">
							<div class="art-header">
								<hr class="line-2">
								{% for child in category.get_children  %}
								<a class="button" href="{% url 'category-detail' child.slug %}">{{ child.name }}</a>
								{% endfor %}
							</div>
						</article>
						<article class="post">
							<div class="art-header">
								<hr class="line-2">

								{% for product in products %}
								{% include 'includes/product_card.html' %}
								{% endfor %}
							</div>

						</article>
					</div>
				</div>
			</div>
	   </section>





{% endblock %}