{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for post in posts %}
   <!-- Post -->
							<article class="post">
								<header>
									<div class="title"  style="width: ">
										{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<div class="alert alert-success" role="alert">{{ message }}</div>
										{% endfor %}
									</ul>
									{% endif %}
										<h2><a href="{% url 'post-detail' post.id %}">{{ post.tittle }}</a></h2>
										{% if request.user.is_authenticated %}
										{% endif %}
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ post.created }}</time>
										{% if post.user.image %}
										<a href="{% url 'account-detail' post.user.id %}" class="author"><span class="name">{{ post.user }}</span><img src="{{ post.user.image.url }}" alt="" /></a>
										{% else %}
										<a href="{% url 'account-detail' post.user.id %}" class="author"><span class="name">{{ post.user }}</span><img src="{% static 'images/default-user-image.png' %}" alt="" /></a>
										{% endif %}
									</div>
								</header>
								{% if post.image %}
								<a href="{% url 'post-detail' post.id %}" class="image featured"><img src="{{ post.image.url }}" alt="" /></a>
								{% else %}
								<a href="{% url 'post-detail' post.id %}" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
								{% endif %}
								<p>{{ post.description }}</p>
								<footer>
									{% if request.user.is_authenticated %}
									<ul class="actions">
										<li><a href="{% url 'update-post' post.id %}" class="button large">Update</a></li>
										<li><a href="{% url 'delete-post' post.id %}" class="button large">Delete</a></li>
									</ul>
									{% endif %}

								</footer>
							</article>
{% endfor %}
                             <ul class="actions pagination">
								 {% if page_obj.has_previous %}
								<li><a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}" class="button large previous">Previous Page</a></li>
								 {% endif %}
								 {% if page_obj.has_next %}
								<li><a href="{% url 'home' %}?page={{ page_obj.next_page_number }}" class="button large next">Next Page</a></li>
								 {% endif %}
							</ul>
{% endblock %}





