{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for post in posts %}
   {% include 'product_card.html' %}
{% endfor %}
                             <ul class="actions pagination">
								 {% if page_obj.has_previous %}
								<li><a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}" class="disabled button large previous">Previous Page</a></li>
								 {% endif %}
								 {% if page_obj.has_next %}
								<li><a href="{% url 'home' %}?page={{ page_obj.next_page_number }}" class="button large next">Next Page</a></li>
								 {% endif %}
							</ul>
{% endblock %}





