{% extends 'base.html' %}
{% load static %}
{% block content %}
    	<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a >Do you want to delete this post?</a></h2>
									</div>
								</header>
								<form method="post">
  								{% csrf_token %}
									<button type="submit">Delete</button>
								</form>
								<footer>
									<ul class="actions">
										<li><a href="{% url 'home' %}" class="button large">Now</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
{% endblock %}